body {
  background: #fafafa;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 3200px;
  display: flex;
  justify-content: center;
}
.img-wrapper {
  position: fixed;
  width: 600px;
  top: 50vh;
  transform: translateY(-50%);
}
.img-wrapper img {
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
.battery-bar {
  background: #52d668;
  height: 300px;
  transform-origin: left center;
  width: 100px;
  top: 0;
  left: 200px;
}
