body {
  height: 200vh;
  background: lightgoldenrodyellow;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
.box {
  width: 35vw;
  height: 35vw;
  background: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightgoldenrodyellow;
  margin: auto;
}
#animate2,
#animate2 p {
  transition: all 0.5s ease;
}
