body {
  background: paleturquoise;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 2800px;
  display: flex;
  justify-content: center;
}
.oval {
  position: fixed;
  top: 400px;
  left: 500px;
  width: 80px;
  height: 40px;
  border-radius: 50%;
  background: #161616;
}
