body {
  background: magenta;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 700px;
  margin-top: 20vw;
}
.bar-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bar {
  background: #161616;
  width: 20vw;
  height: 10vw;
}
