body {
  background: #373737;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 7000px;
  display: flex;
  justify-content: center;
}
.text-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 5vw;
  white-space: nowrap;
  position: fixed;
  top: 45vh;
  left: 0;
  will-change: transform;
}
.bar {
  width: 100vw;
  height: 15vw;
  position: fixed;
  transform-origin: left center;
}
.bar.green {
  top: -30px;
  left: 20vw;
  background: green;
}
.bar.purple {
  top: 400px;
  right: 1000px;
  background: purple;
  transform-origin: right center;
}
.bar.red {
  top: -200px;
  right: 150px;
  background: red;
}
.bar.orange {
  top: 200px;
  left: 10px;
  background: orange;
  transform-origin: right center;
}
.bar.blue {
  bottom: 0;
  right: 0px;
  background: blue;
}
