body {
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 5000px;
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}
.bar-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.bar {
  width: 10vw;
  height: 100vh;
  background: black;
  transform: scaleX(1);
  transform-origin: right center;
}
