body {
  height: 200vh;
  background: #161616;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
#reveal1 {
  opacity: 0;
  background: red;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  transform: scale(0.5);
  transition: all 0.2s ease-in-out;
  margin: auto;
}
#reveal1.visible {
  opacity: 1;
  transform: none;
}
