body {
  background: lightsteelblue;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.circle {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  background: #161616;
  transform: skew(0);
  transition: transform 0.3s ease;
}
.circle.stretch {
  transform: skew(15deg, 15deg);
}
