body {
  background: orange;
  font-family: "Courier New", Courier, monospace;
  color: #161616;
}
#main {
  width: 100vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.bar {
  width: 1vw;
  height: 30vh;
  background: palevioletred;
  transform: rotate(0);
  transition: 0.3s transform ease;
}
